@import url("./reset.css");

* {
  box-sizing: border-box;
}

/* BRAND COLORS ============= */
.red { color:#ef7056; }
.green { color:#88e1ab; }
.blue { color:#2898fb; }
.yellow { color:#f2d631; }
.pink { color:#f5b7cd; }
.light { color:#f2f2f2; }
.darkgrey { color:#4d4d4d; }


/* LAYOUT ============= */
body {
  background-color: #f2f2f2;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  will-change: background;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

section {
  display: block;
  width: 100%;
  /*height: 100vh;*/
}

.pad-bottom {padding-bottom: 50px;}

.pad-top {padding-top: 50px;}

.pad {padding: 50px 0;}

.bigwrap {
  padding: 30px;
  transition: 0.3s ease-out;
  width: 100%;
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

/* TYPOGRAPHY ============= */
.leck {font-family: 'Leckerli One', sans-serif;}
.oleo {font-family: 'Oleo Script Swash Caps', sans-serif;}
.raleway {font-family: 'Raleway', sans-serif;}

h1 {
  font-size: 4em;
  margin-left: 100px;
 }
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
h4 {font-size: 1.8em;}
h5 {font-size: 1.6em;}
h6 {
  font-size: 1.3em;
  line-height: 1.5;
}
p {
  font-size: 1.1em;
  margin: 15px 0;
  line-height: 1.8;
}

li {line-height: 1.8;}

.underline {text-decoration: underline;}

.subtext {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 1.1em;
}

a, a:hover, a:visited, a:active {text-decoration: none;}


/* HEADER ============= */
.newsletter {
  background-color:#4d4d4d;
  padding: 5px 10px;;
  color: #f2f2f2;
  border-radius: 3px;
  margin: 0 20px;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.newsletter:hover {
  background-color:#5d5d5d;
  color: #f2f2f2;
}

.desktop-nav {
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  /*border-bottom: 2px solid #ef7056;*/
  width: 100%;
  z-index: 99;
  text-align: right;
  padding: 15px;
}

.desktop-nav h6 {
  text-align: left;
  position: absolute;
}

.desktop-nav .cta {
  background-color:#4d4d4d;
  padding: 10px 15px;;
  color: #f2f2f2;
  border-radius: 3px;
  margin-left: 20px;
  cursor: pointer;
}

.desktop-nav ul li {
  font-family: 'Raleway', sans-serif;
  display: inline;
  padding-left: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.desktop-nav ul a {
  text-decoration: none;
  color: #ef7056;
}

.desktop-nav ul a:hover {
  text-decoration: none;
  color: #f9856d;
}

/*nav a btn, nav a btn:hover, nav a btn:visited, nav a btn:active {
  text-decoration: none;
  color: #f2f2f2;
}*/


#header {
  margin-top: 50px;
  margin-bottom: 50px;
}

#header h4 {
  margin-bottom: 20px;
  line-height: 1.2;
}
.landing {
  display: flex;
  flex-direction: row;
}
.masthead {
  padding-left: 50px;
  flex: 3;
}
.title {
  font-size: 6em;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #ef7056;
  margin: 100px 0 20px 0;

}
.tagline {
  margin-bottom: 50px;
}

.byline {
  margin-top: 100px;
  margin-bottom: 20px;
  flex: 2;
}

.byline p {
  line-height: 1.8;
}

.byline p a:hover {
  color: #f99580;
}

.hero {
  width: 100%;
  background-image: url('img/header-hero.png');
  background-repeat: repeat-x;
  height: 500px;
  background-position: right;
}

#header, #events, #about, #approach, #involve {
  padding: 50px;
}

/* EVENTS ============= */

#event-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.showbox-1, .showbox-2, .showbox-3 {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 4px;
  height: 350px;
  max-width: 300px;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px 15px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  position: relative;
  box-shadow: 5px 5px 10px -5px #58a376;
}

.showbox-1:hover, .showbox-2:hover, .showbox-3:hover {
  background-color: #fff;
  box-shadow: 5px 15px 15px -5px #58a376;

}


p.show-date {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
  color: #4d4d4d;
  padding-left: 10px;
  line-height:0.8;
  margin: 0;
}

.show-title {
  flex:4;
  margin:0;
  padding: 20px 0px;
  margin-bottom: 15px;
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: bold;
  color: #ef7056;
  border-bottom: 1px dotted #ef7056;
}

.show-title span {
  font-weight: normal;
  font-size: 0.8em;
  /*letter-spacing: 2px;*/
  text-decoration: underline;
}

.show-cta {
  flex:1;
  border: 1px solid #ef7056;
  border-radius: 3px;
  color: #ef7056;
  position: absolute;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  left: 32%;
  bottom: 30px;
}




.keywords {margin-bottom: 30px;}

.keywords span {
  background-color: #cbf7dd;
  border-radius: 3px;
  padding: 5px;
  margin:3px;
  font-size: 0.7em;
}

.cta {
  background-color:#4d4d4d;
  padding: 10px 15px;;
  color: #f2f2f2;
  border-radius: 3px;
  margin: 50px 0;
  cursor: pointer;
  clear: both;
  min-width: 200px;
}

.cta:hover {background-color:#5d5d5d;}

#session1, #session2, #session3 {
  display: block;
  background-color: #f2f2f2;
  padding: 30px 50px 50px 50px;
  position: relative;
}

#session1 .exit, #session2 .exit, #session3 .exit {
  top: 20px;
  right: 20px;
  z-index: 3;
  position: absolute;
  /*text-align: right;*/
  cursor: pointer;
}


.e-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.e-details {
  margin: 0;
  text-decoration: none;
  padding: 0;
  font-weight: bold;
}

#events ul {
  margin-bottom: 20px;
}


/* ABOUT ============= */
#about {
  padding: 100px;
}


 .spot-img {
  margin: 100px auto;
  text-align: center;
  max-width: 800px;
  /*left: 50%;*/
}

.spot-img img {
  width: 90%;
}

.quote-hr {
  border-top: 4px solid #4d4d4d;
  max-width: 200px;
  height: 20px;
  margin-left: 100px;
}
.pullquote1 {
  font-style: italic;
  font-size: 2.5em;
  line-height: 1.1;
  padding: 0 20px;
  margin:  20px 100px 100px 50px;
  /*margin-left: 100px;*/
  border-left: 2px solid #4d4d4d;
  max-width: 60%;
}

/* APPROACH ============= */
#approach {
  padding: 50px 100px 0 100px;
}

#approach a li {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: 600px;
  color: #4d4d4d;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

#approach a li:hover {
    background-color: #f6cbda;
}

.para {
  max-width: 800px;
  margin: 50px auto;
}

/* INVOLVE ============= */
#involve {
  /*background-color: #ef7056;*/
  text-align: left;
  padding: 50px 100px;
  color: #4d4d4d;
}

.helpers {
  display: flex;
  flex-direction: row;
}

.role {
  flex: 1;
  margin: 50px 20px 50px 0;
  padding: 0 20px;
  border-left: 2px solid #ef7056;
}

.role h4 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1.4em;
}
/* FOOTER ============= */
footer {
  background-color: #4d4d4d;
  padding: 100px;
  color: #f2f2f2
}

footer h1 {
  margin: 0;
  margin-bottom: 15px;
}

footer h3 {
  font-size:3em;
}

footer .tagline {
  font-size: 0.8em;
  color: #ef7056;
}

footer ul a {
  line-height: 2;
  color: #ef7056;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
}

footer a:hover{
  color: #f2f2f2;
}

footer button {
  margin-top: 30px;
}

.footer-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-info {
  color: #4d4d4d;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn-info:hover {
    color: #4d4d4d;
    background-color: #ef7056;
}
/* MAILING LIST ============= */
.btn {
  vertical-align:inherit;
}
.modal-header {
  border-bottom: none;
}
.modal-content {
    border: none;
    border-radius: 3px;
    padding: 30px;
}

.modal-title {
  color: #ef7056;
}

.modal-body {
  color: #4d4d4d;
}

.credits {
  font-size: 0.8em;
  color: #999;
  margin-top: 30px;
  position: absolute;
  bottom: 30px;
}

a.footer-link {
  text-decoration: underline;
  color: #f2f2f2;
}

a.footer-link:hover {
  text-decoration: underline;
  color: #ef7056;
}

@media (max-width: 768px) {
  .mobile-nav {display: block;}
  .desktop-nav {display: none;}
  p, ul {font-size: 0.8em;}
  h1 {
    font-size: 3em !important;
    margin-left: 10%;
  }

  h2 { font-size: 1.8em;}
  h3 {font-size: 1.5em;}
  h4 {font-size: 1.3em !important;}
  .row {padding: 15px;}
  .title {
    font-size: 4em !important;
    margin-top: 30px;
  }
  .tagline {font-size: 1.3em !important;}
  .byline {margin-top: 50px;}
  .hero {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-size: cover;
    height: 120px;
  }
  #header, #events, #about, #approach, #involve {
    padding: 0px !important;
    margin-bottom: 0;
  }


  .masthead {
    padding: 0;
  }

  .landing {
    display: flex;
    flex-direction: column;
  }

  .subtext {
    font-size: 0.8em;
  }

  .pullquote1 {
    font-size: 1.1em;
    margin: 0;
    margin-left: 15px;
    max-width: 90%;
    line-height: 1.3;
  }

  .para {margin-bottom: 20px;}

  .spot-img {margin: 30px 0;}

  .helpers {
    flex-direction: column;
  }

  footer {padding: 50px 20px;}

  .footer-img {display: none;}

}
